body {
    background-color: hsl(217, 54%, 11%);
}

.button {
    Background-color:  cyan;
    display: flex;
    background-image: url("./images/icon-view.svg");
    border: none;
    border-radius: 12px;
    padding: 0px;
}

.nft {
    border-radius: 10px;
}

.nft:hover {
    opacity: .4;
}

.price-text {
    color: cyan;
}

.text {
    color: hsl(215, 51%, 70%);
}

.link-text {
    color: white;
    text-decoration: none;
}

.link-text:hover {
    color: hsl(178, 100%, 50%);
    text-decoration: none;
}